.theConnect__techies {
    display: flex;
    flex-direction: column;
}

.theConnect__techies-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem 0;

}

.theConnect__techies-content__header {
    margin-bottom: 2rem;
}

.theConnect__techies-content__header h3 {
    font-family: var(--font-family);
    color: var(--color-btn);
    font-weight: 800;
    font-size: 36px;
    line-height: 65px;
    letter-spacing: -0.04em;
    text-align: start;
}

.theConnect__techies-content__header div {
    width: 128px;
    height: 4px;
    background: var(--color-subtext);
    border-radius: 6px;
    margin-top: 0.25rem;
}


.theConnect__techies-container {
    flex: 1 1;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1.5rem 4rem;
}

.theConnect__techies-box {
    margin-bottom: 1rem;
    background-color: var(--color-btn);
    padding: 2rem 1.8rem;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.theConnect__techies-box h4 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: .6rem;
    color: var(--color-subtext);
}

.theConnect__techies-box p {
    font-family: var(--font-family);
    color: var(--color-bg);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

@media screen and (max-width: 1050px) {
    .theConnect__techies {
        flex-direction: column;
    }

    .theConnect__techies-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .theConnect__techies-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .theConnect__techies-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .theConnect__techies-content__people {
        flex-direction: column;
    }

    .theConnect__techies-content__people p {
        margin: 0;
    }

    .theConnect__techies-content__input input,
    .theConnect__techies-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .theConnect__techies {
        flex-direction: column-reverse;
        margin-bottom: 9rem;
    }

    .theConnect__techies-container {
        width: 382px;
        height: 363.52px;
        margin-bottom: 4rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1rem 1rem;
        padding: 15px;
    }

    .theConnect__techies-box {
        width: 175px;
        height: 179px;
    }

    .theConnect__techies-content__header h3 {
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: -0.04em;
     }

     .theConnect__techies-content {
        margin-bottom: 9rem;
        padding: 1rem;
     }

    .theConnect__techies-content p {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;

    }

    .theConnect__techies-content a {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-align: center;

    }
}